<tbody>
				<tr>
				  <td class="col-3">Design</td>
				  <td class="col-4 text-1">Creating a website design</td>
				  <td class="col-2 text-center">$50.00</td>
				  <td class="col-1 text-center">10</td>
				  <td class="col-2 text-end">$500.00</td>
				</tr>
				<tr>
				  <td>Development</td>
				  <td class="text-1">Website Development</td>
				  <td class="text-center">$120.00</td>
				  <td class="text-center">10</td>
				  <td class="text-end">$1200.00</td>
				</tr>
				<tr>
				  <td>SEO</td>
				  <td class="text-1">Optimize the site for search engines (SEO)</td>
				  <td class="text-center">$450.00</td>
				  <td class="text-center">1</td>
				  <td class="text-end">$450.00</td>
				</tr>
			</tbody>